.instructions-container {
    margin-top: 20px;
  }
  
  .instructions-container h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  .instructions-container ol {
    list-style-type: decimal;
    padding-left: 20px;
  }
  
  .instructions-container li {
    font-size: 1rem;
    margin-bottom: 10px;
  }
  