.profile-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.profile-info {
  display: flex;
  align-items: flex-start; 
  margin-bottom: 20px;
}

.profile-picture {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-right: 20px;
}

.profile-details {
  flex: 1;
  display: flex;
  flex-direction: column; 
}

.profile-details h3 {
  margin-top: 0;
}

.profile-details p {
  margin: 10px 0;
  text-align: left;
}

.profile-name {
  font-size: 24px;
  margin-bottom: 10px;
}

.profile-email,
.profile-location {
  font-size: 16px;
  margin-bottom: 5px;
}

.profile-about {
  font-size: 14px;
  color: #666;
}

.profile-details .buttons-container {
  display: flex; 
  flex-direction: row; 
}

.profile-details .buttons-container button {
  margin-right: 10px; 
}

.house-id {
  position: absolute;
  top: 75px; 
  left: 10px; 
}
